.qualities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    padding: 1em;

    color: var(--black);
}

.qualities h1 {
    color: var(--black);
    
    border-color: var(--black);
}

.qualities__quality {
    width: 100%;
    margin: 1em;
    padding: 1em;

    text-align: center;

    border-radius: 1em;

    transition: all 300ms ease;
}

.qualities__quality:hover {
    box-shadow: 0 0 30px hsla(0, 0%, 0%, 0.1);
}

.qualities__image {
    width: 40%;
    margin: 0 auto 1em;
    padding: 10%;

    border: 2px solid var(--black);
    border-radius: 50%;

    background-color: var(--blue);

    transition: all 300ms ease;
}

.qualities__quality:hover .qualities__image {
    padding: 6%;

    background-color: hsl(220, 80%, 60%);
}

@media (min-width: 768px) {
    .qualities__quality {
        width: calc(100% * (1/3) - 2em);
    }
}
