.static-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;

    width: 100%;
    height: 4em;

    background-color: hsl(0, 0%, 90%);
}

.static-header__logo {
    width: 25%;
    height: 100%;
}

.static-header__logo > a {
    display: flex;
    width: 100%;
    height: 100%;
}

.static-header__logo > a > img {
    width: clamp(10ch, 50%, 15ch);
    height: 80%;
    margin: auto;
    padding: 0 0.2em;
}
